body {
	background-color: rgb(232, 230, 230);
	background-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 0.4) 1px,
			transparent 1px
		),
		linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 1px, transparent 1px);
	background-size: 55px 55px;
	background-attachment: fixed;
	font-family: 'Roboto', sans-serif;
}

.main-content {
	flex: 1;
	padding: 2rem;
	overflow-y: auto;
}
